<!DOCTYPE html>
<html>
<head>
	<title>Tube App</title>
	<link rel="stylesheet" type="text/css" href="/index.css">
	<link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
	<script src="https://code.jquery.com/jquery-3.3.1.min.js" integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8=" crossorigin="anonymous"></script>
	<script src="/script.js"></script>
</head>
<body>
	<div class="container-fluid">
		<% for (var i in tubeData) { %>
			<div class="row route-toggler" id="tube-data<%= i %>">
				<h2><%= tubeData[i].name %></h2><div class="<%= tubeData[i].lineStatuses[0].statusSeverityDescription.toLowerCase().replace(" ","-") %>"><%= tubeData[i].lineStatuses[0].statusSeverityDescription %></div>
				<div class="route-div">
					<%= routes[i] %>
				</div>
			</div>
		<% } %>
		<div id="dlr-data">
			<h2><%= dlrData[0].name %></h2><%= JSON.stringify(dlrData[0].lineStatuses[0].statusSeverityDescription) %>
		</div>
	</div>
</body>
</html>