<!DOCTYPE html>
<html>
<head>
	<title>Tube App</title>
	<% include partials/frameworks %>
</head>
<body>
	<% include partials/nav %>
	<div class="container-fluid">
		<h1>Tube Lines</h1>
		<% for (var i in tubeData) { %>
			<% if (i % 3 == 0) {%>
				<div class="row">
			<% } %>
			<div class="col-md-4">
				<div id="tube-data<%= i %>">
					<h2><%= tubeData[i].name %></h2><div class="<%= tubeData[i].lineStatuses[0].statusSeverityDescription.toLowerCase().replace(" ","-") %>"><%= tubeData[i].lineStatuses[0].statusSeverityDescription %></div>
				</div>
			</div>
			<% if (i % 3 == 2 || i == tubeData.length) { %>
				</div>
			<% } %>
		<% } %>
		<div class="col-md-4">
			<div id="dlr-data">
				<h2><%= dlrData[0].name %></h2><div class="<%= dlrData[0].lineStatuses[0].statusSeverityDescription.toLowerCase().replace(" ", "-") %>"><%= dlrData[0].lineStatuses[0].statusSeverityDescription; %></div>
			</div>
		</div>
	</div>
</body>
</html>